{% extends 'MainApp/base.html' %}
{% block body %}
{% load static %}

<nav class="navbar navbar-expand-md navbar-light fixed-top py-4" id="main-nav">
  <div class="container">
    <a href="#home" class="navbar-brand">
      <img src="{% static 'MainApp/img/mathtestmakerlogo.png' %}" height="80" alt="logo">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'MainApp:quickstartCategories' %}" class="nav-link">Quickstart</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'MainApp:donate' %}" class="nav-link active">Donate</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="showcase" class="my-5">
  <div class="container">
     <div class="row">
       <div class="col">
         <form action="{% url 'MainApp:charge' %}" method="post">
         {% csrf_token %}
             <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                 data-key={{ key }}
                 data-description="A Django Charge"
                 data-amount="100"
                 data-locale="auto">
             </script>
         </form>
       </div>
     </div>
   </div>
</section>

<!-- FOOTER -->
<footer id="main-footer" class="py-5 mathtestmakerGreenBG">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 ml-auto">
        <p class="lead">Copyright &copy; <span id="year"></span></p>
      </div>
    </div>
  </div>
</footer>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>

<script>
  // Get the current year for the copyright
  $('#year').text(new Date().getFullYear());

  // Init Scrollspy
  $('body').scrollspy({ target: '#main-nav' });

  // Smooth Scrolling
  $("#main-nav a").on('click', function (event) {
    if (this.hash !== "") {
      event.preventDefault();

      const hash = this.hash;

      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function () {

        window.location.hash = hash;
      });
    }
  });

</script>

{% end block %}
