<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Bootstrap Theme</title>
</head>

<body id="home">

  <nav class="navbar navbar-expand-md navbar-light fixed-top py-4" id="main-nav">
    <div class="container">
      <a href="#home" class="navbar-brand">
        <img src="img/mathtestmakerlogo.png" height="80" alt="logo">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Register</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Quickstart</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Donate</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- SHOWCASE -->
  <section id="showcase" class="my-5">
    <div class="primary-overlay text-white">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-6 text-center h-100">
            <h1 class="display-1 mt-5 pt-5">Math Exams</h1>
            <p class="display-4">Fast. Free. Fancy.</p>
            <a href="#" class="btn btn-outline-secondary btn-lg text-white"> <i class="fas fa-arrow-right"></i>Read More</a>
          </div>
          <div class="col-lg-6 text-center h-100 mt-5">
            <img src="img/exam.png" alt="image" class="h-75 img-fluid d-none d-lg-inline-block showcaseForeground">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- NEWSLETTER -->
  <section id="newsletter" class="py-1">
    <div class="container">
      <div class="row">
        <button class="btn btn-lg btn-block secondaryButton">
          <i class="fas fa-rocket">
            <span style="font-size:30px">Quickstart</span>
          </i>
        </button>
      </div>
    </div>
    </div>
  </section>

  <!-- BOXES -->
  <section id="boxes" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center mathtestmakerRedBorder mb-resp">
            <div class="card-body">
              <h3 class="">Your Subjects</h3>
              <p class="text-muted">mathtestmaker can generate exams for Algebra, Geometry, Calculus and beyond.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center mathtestmakerGreenBorder mb-resp">
            <div class="card-body">
              <h3 class="">Open Source</h3>
              <p class="text-muted">The code is open source. Request or contribute new features on github!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center mathtestmakerRedBorder mb-resp">
            <div class="card-body">
              <h3 class="">Easy to Use</h3>
              <p class="text-muted">Just a few quick clicks of the mouse. No login required.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ABOUT / WHY -->
  <section id="about" class="py-5 text-center mathtestmakerRedBG">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-white pb-3 display-4">
            What is This?
          </h1>
          <p class="lead pb-3"> In short, mathtestmaker is a website where teachers come, specify the type of questions they
            want to test their students on, select an exam layout, and then generate a set of exams, each with unique questions,
            which test the specified concepts. </p>
          <a href="#" class="btn btn-outline-light">Tell me more</a>


        </div>
      </div>
    </div>
    </div>
    </div>
  </section>

  <!-- EXPLORE SECTION -->
  <section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="img/workingEarly.jpg" alt="" class="img-fluid mb-3 rounded-circle">
        </div>
        <div class="col-md-6">
          <h3>You Work Hard Enough</h3>
          <p> As it is you're waking up early, staying afterschool for meetings and thinking about tomorrow's class late
            into the night. Save yourself some trouble with mathtestmaker. </p>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-start">
              Programatically created custom math exam questions &amp; answer keys based on a few quick clicks.</div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-start">
              Computer generated student solution manuals detailing exactly how to solve each and every question. </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CREATE-HEAD -->
  <section id="create-head-section" class="mathtestmakerGreenBG">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4">Guaranteed to Be Correct</h1>
          <p class="lead">No more creating questions on your own and worrying that you might compute an answer incorrectly.
            Leave the tedium to the machine and devote your time to your other obligations.</p>
          <a href="#" class="btn btn-outline-light">See how we do it</a>
        </div>
      </div>
    </div>
  </section>

  <!-- CREATE SECTION -->
  <section id="create-section" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-2">
          <img src="img/test.jpg" alt="" class="img-fluid mb-3 rounded-circle">
        </div>
        <div class="col-md-6 order-1">
          <h3>Good For Your Students</h3>
          <p> The fact that the computer can quickly generate, solve, and explain as many math questions as you want is good
            for your students.</p>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-start">
              Every student can have a unique test. There's no way to cheat if everyone has a unique exam! </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-start">
              The computer generates step by step solution manuals so students can thoroughly review their work if they made mistakes.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CREATE-HEAD -->
  <section id="create-head-section" class="mathtestmakerRedBG">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4">Do You Want To Program?</h1>
          <p class="lead">The majority of the mathtestmaker code is written in Python and LaTeX. If you want to learn to
            program with these tools - or if you know already - we'd love the help!</p>
          <a href="#" class="btn btn-outline-light">Find out more</a>
        </div>
      </div>
    </div>
  </section>

  <!-- EXPLORE SECTION -->
  <section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="img/examTypography.jpg" alt="" class="img-fluid mb-3 rounded-circle">
        </div>
        <div class="col-md-6">
          <h3>Pretty As Can Be</h3>
          <p> Another issue you may have is getting your tests to look nice. That's a worry of the past, since mathtestmaker
            automatically generates beautiful PDFs through the use of the LaTeX document preparation system.</p>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-start">
              No more fussing with typing equations in Microsoft Word.</div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-start">
              New exam styles are constantly being created so you'll always have fresh looks to choose from. </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- FOOTER -->
  <footer id="main-footer" class="py-5 mathtestmakerGreenBG">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 ml-auto">
          <p class="lead">Copyright &copy; <span id="year"></span></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });

  </script>
</body>

</html>