{% extends 'MainApp/base.html' %}

{% block body %}

<h1> Categories </h1>

<div>
    <form action="{% url 'MainApp:quickstartQuestions' %}" method="post">
        {% csrf_token %}
        <h2> Select The Question Categories You Want </h2>
        {% for category_codename, category_display in categories.items %}
	<input type="checkbox" name="selectedCategory" value="{{ category_codename }}"/>
	<label for=selectedCategory">{{ category_display }}</label><br/>
        {% endfor %}
        <input type="submit" value="Go On To Select Questions" />
    </form>
<div>

{% endblock %}
